* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#createTodoForm{
  position:relative;
  width:100%;
  height:100%;
  background-color:#909090;
  z-index:1;
}

.form-width{
  width:50%;
}

@media only screen and (max-width: 800px) {
  .form-width{
    width:65%;
  }
}

@media only screen and (max-width: 600px) {
  .form-width{
    width:80%;
  }
}

.add-padding{
  padding-top:100px;
  
}

.title{
  font-weight: bold;
  font-size:24px;
}

.display-todo{
  margin-left:5%;
  margin-right:5%;
  padding-bottom:5%;
}

.status-control{
  width:200px;
}